services:
    todos.api:
      container_name: todos.api
      hostname: todos.api
      restart: always
      image: todos.api:latest
      build:
       context: ./
       dockerfile: Todos.Api/Dockerfile
      environment:
        ASPNETCORE_ENVIRONMENT: "Production"
        ASPNETCORE_URLS: "http://*:5146"
        ConnectionStrings__DefaultConnection: "User ID=postgres;Password=pg_secret;Host=postgres_db;Port=5432;Database=Todos;Pooling=true"
        Jwt__PrivateKey": "MIICWwIBAAKBgHZO8IQouqjDyY47ZDGdw9jPDVHadgfT1kP3igz5xamdVaYPHaN24UZMeSXjW9sWZzwFVbhOAGrjR0MM6APrlvv5mpy67S/K4q4D7Dvf6QySKFzwMZ99Qk10fK8tLoUlHG3qfk9+85LhL/Rnmd9FD7nz8+cYXFmz5LIaLEQATdyNAgMBAAECgYA9ng2Md34IKbiPGIWthcKb5/LC/+nbV8xPp9xBt9Dn7ybNjy/blC3uJCQwxIJxz/BChXDIxe9XvDnARTeN2yTOKrV6mUfI+VmON5gTD5hMGtWmxEsmTfu3JL0LjDe8Rfdu46w5qjX5jyDwU0ygJPqXJPRmHOQW0WN8oLIaDBxIQQJBAN66qMS2GtcgTqECjnZuuP+qrTKL4JzG+yLLNoyWJbMlF0/HatsmrFq/CkYwA806OTmCkUSm9x6mpX1wHKi4jbECQQCH+yVb67gdghmoNhc5vLgnm/efNnhUh7u07OCL3tE9EBbxZFRs17HftfEcfmtOtoyTBpf9jrOvaGjYxmxXWSedAkByZrHVCCxVHxUEAoomLsz7FTGM6ufd3x6TSomkQGLw1zZYFfe+xOh2W/XtAzCQsz09WuE+v/viVHpgKbuutcyhAkB8o8hXnBVz/rdTxti9FG1b6QstBXmASbXVHbaonkD+DoxpEMSNy5t/6b4qlvn2+T6a2VVhlXbAFhzcbewKmG7FAkEAs8z4Y1uI0Bf6ge4foXZ/2B9/pJpODnp2cbQjHomnXM861B/C+jPW3TJJN2cfbAxhCQT2NhzewaqoYzy7dpYsIQ=="
        Jwt__Audience: "http://localhost:8080"
        Jwt__Issuer: "http://todos.api:5146"
        Jwt__AccessTokenExpiration: "00:15:00"
        Jwt__RefreshTokenExpiration": "01:00:00"
      ports:
        - "5147:5146"
      depends_on:
        - db

    todos.spa:
      container_name: todos.spa
      hostname: todos.spa
      restart: always
      image: todos.spa:latest
      build:
       context: ./
       dockerfile: Todos.Spa/Dockerfile
      ports:
        - "8080:80"
      depends_on:
        - todos.api

    # pgadmin:
    #   container_name: pgadmin4
    #   restart: always
    #   image: dpage/pgadmin4
    #   ports:
    #    - 5051:80
    #   environment:
    #    - PGADMIN_DEFAULT_EMAIL=user@domain.com
    #    - PGADMIN_DEFAULT_PASSWORD=password
    #   depends_on:
    #     - db             

    db:
      container_name: postgres-16.3-bookworm-slim
      hostname: postgres_db
      restart: always
      image: postgres:16.3      
      # ports:
      #   - "5432:5432"
      environment:
       - POSTGRES_PASSWORD=pg_secret

    

    
    
